* {
    margin: 0;
    padding: 0;
    gap: 20px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;

}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.menu {
    box-shadow: 10px 11px 14px -8px #000;
    padding: 20px;
    border-radius: 7px;
    border: 20px;
    color: blue;
    background-color: white;
    width: 100%;
    height: 40%;
    display: flex;
    position: sticky;
    top: 0px;

}

.submenu {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    gap: 4%;
}



/* header end */

.section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 30px;
    padding-top: 90px;

}

#heading {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

#button1 {
    background-color: blue;
    color: white;
    border: 1px solid blue;
    margin-bottom: 20px;
    padding: 10px 10px;
}

#button2 {
    border: 1px solid blue;
    width: 50%;
    margin-bottom: 20px;
    padding: 10px;
}

.image {
    width: 20%;
}

img {
    display: flex;
    border-radius: 50%;
    width: 100%;
    height: 100%;

}

/* font end */
.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 107px;

}

#heading2 {
    height: 100%;
    width: 70%;
}

/*----------- about us------------------------------- */

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;

}

#heading3 {
    height: 100%;
    width: 70%;
    justify-content: space-evenly;
}

#skill1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.skill {

    box-shadow: 10px 11px 14px -8px #000;
    padding: 5px;
    border-radius: 7px;
}

/*-------------- skill------------ */
.section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}

#heading4 {
    height: 100%;
    width: 70%;
    margin-top: 50px;
}

#experience {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 70%;

}

/* -----------------experience end ------------*/
.section5 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 100px;
}

.sub2 {
    width: 70%;
    display: flex;
}

.heading5 {
    display: flex;
    width: 100%;
    /* height: 550px; */
    justify-content: center;
}

.subpro {
    height: 70%;
    width: 100%;
    display: flex;
}

.hed {
    justify-content: center;
    display: flex;
    width: 40%;
}

#card {
    display: flex;
    flex-direction: column;
    width: 44%;
    box-shadow: 8.3px 12px 7.6px -8.7px #000;
    border-radius: 7px;
}

#card1 {
    height: 45%;
}

#card1 img {
    width: 100%;
    object-fit: cover;
    border-radius: 30%;
}

#e-commerce {
    width: 50px;
}

#para1 {
    display: flex;
    flex-direction: column;
}

.skills {
    display: flex;
    gap: 31px;
}

.skil {
    box-shadow: 10px 5px 14px -8px #495057;
    padding: 5px;
    border-radius: 7px;
}


/*------------------ post card end=------------------- */

#contact {
    padding: 80px 180px 10px 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


footer {
    width: 100%;
    box-shadow: 10px 11px 14px 10px #000;
    padding: 10px 10px 10px 300px;
    align-items: center;
    /* position: sticky;  bottom:0px; */
}

input {
    width: 100%;
    border: none;
}

input::placeholder {
    color: black;

}


#contact2 {
    width: 70%;
    height: 100%;
    padding: 5%;
    border-radius: 20px;
    box-shadow: -3.1px 28.8px 53.4px -15.6px gray;
    gap: 10px;
}

.button4 {
    background-color: green;
    display: flex;
    justify-content: center;
    /* width: 20%; */
    padding: 10px 23px;
    margin-left: 220px;
    gap: 5px;
}

.b1 {
    display: flex;
    width: 40%;
    justify-content: center;

}

/*-------------- media query */
@media screen and (max-width:800px) {
    .section1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .section2 {
        padding: 38.4px 133.5px;
    }

    .section3 {
        padding: 38.4px 133.5px;
    }

    .section4 {
        padding: 50.1px 3.8px 14.6px 150px;
    }

    .sub2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #button2 {
        display: flex;
    }

    .skills {
        display: flex;
        flex-direction: column;
    }
}